{% load wagtailimages_tags %}
<div class="container">
  <h1 class="text-center">{{ self.title }}</h1><br>         
  <div class="row row-cols-1 row-cols-md-4">
    {% for card in self.cards %}
      {% image card.image fill-300x300 as img %}
      <div class="col mb-4">
        <div class="card">
          <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }} </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
