{% load wagtailimages_tags %}
<a id="{{self.title}}">
  <h1 class="text-center">{{ self.title }}</h1></a><br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    {% for card in self.cards %}
      {% image card.image fill-300x300 as img %}
      <div class="col-md-4">
        <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <a href="{{ card.link }}" class="btn btn-primary">besuchen</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
